.flex {
  display: flex;
}

.flex-1 {
  flex: 1;
}

.white-space-no-wrap {
  white-space: nowrap;
}

.justify-content-space-between {
  justify-content: space-between;
}

.gap-20 {
  gap: 20px;
}

.align-items-center {
  align-items: center;
}

.flex-direction-column {
  flex-direction: column;
}